<%- include('../partials/header')  %>

<% if( !coven.members.some(m => m._id.equals(user._id))) { %>
    <form action="/covens/<%= coven._id %>/members" method="POST">
        <button>Join This Coven</button>
    </form>
<% } %>
    
    
<span id="covenInfo">
    <img src="<%= coven.image%>" alt="">
    <p><%= coven.description %></p>
</span>

<br>
    
<% if( coven.leader._id.equals(user._id)) { %>
    <a href="/covens/<%= coven._id %>/edit">Edit Coven Details</a>
<% } %>

<h2>Coven Members</h2>
<table>
    <thead>
        <tr>
            <th>Leader</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img class="userAvatar" src="<%= coven.leader.avatar %>"></td>
            <td><%= coven.leader.name %></td>
        </tr>

        <tr>
            <th colspan="2">Followers</th>
        </tr>
        <% coven.members.forEach(function(m) { %>
            <% if( !coven.leader._id.equals(m._id) ) { %>
                <tr>
                    <td><img class="userAvatar" src="<%= m.avatar %>"></td>
                    <td><%= m.name %></td>
                </tr>
                <% } %>
                <% }); %>
            </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Movie</th>
            <th>Host</th>
            <th>Location</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    <tbody>
        <% coven.viewings.forEach(function(v) { %>
            <tr>
                <td><%= v.movieTitle %></td>
                <td><%= v.host %></td>
                <td><%= v.location %></td>
                <td><%= v.viewingTime.toLocaleString() %></td>
            </tr>

        <% }); %>
    </tbody>
</table>
                
                
                
                <a href="/covens/<%= coven._id %>/viewings/new">Schedule the next Viewing for your Watch Coven</a>
                
                <%- include('../partials/footer')  %>