<%- include('../partials/header')  %>

<% if( !coven.members.some(m => m._id.equals(user._id))) { %>
    <form action="/covens/<%= coven._id %>/members" method="POST">
        <button>Join This Coven</button>
    </form>
<% } %>

<span id="covenInfo">
    <img src="<%= coven.image%>" alt="">
    <p><%= coven.description %></p>
</span>
<h2>Coven Members</h2>
<table>
    <thead>
        <tr>
            <th>Leader</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tr>
        <td><img src="<%= coven.leader.avatar %>"></td>
        <td><%= coven.leader.name %></td>
        </tr>
        <tr>
            <th>Followers</th>
        </tr>
        <% coven.members.forEach(function(m) { %>
            <% if( !coven.leader._id.equals(m._id) ) { %>
                <tr>
                    <td><img src="<%= m.avatar %>"></td>
                    <td><%= m.name %></td>
                </tr>
            <% } %>
        <% }); %>
</table>


<%- include('../partials/footer')  %>